body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 84%;
    background-position-x: 10px;
    font-family: 'Open Sans', sans-serif;
    

}

.main-container {
    display: flex;
    height: 850px;
    margin: 60px 80px 50px 80px;
}

.right-container {
    width: 40%;
    margin: 60px;
    position: relative;
    top: 90px;
}

.social-media {
    position: absolute;
    bottom: 25px;
    right: 65px;
}

.illustration {
    width: 100%;
    position: relative;
    top: 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 3.125rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.45rem;
}

button {
    padding: 0.9375rem 3.75rem;
    border-radius: 1.875rem;
    border: solid 3px;
    font-size: 1.0625rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: hsl(257, 40%, 49%);
}

button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    border: none;
}

.social-media img {
    /* width: 30px; */
    border: solid 2px black;
    border-radius: 30px;
    /* background-color: white; */
    width: 20px;
    margin: 5px;
    padding: 10px;
    background-color: white;
}

.social-media img:hover {
    background-color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}